[comet]
api_key=92LrmLkw76llN2rbPbFCrmVEI
project_name=Thesis_detection_06        # This will default to 'yolov5'
metrics=true


MODE=online                         # Set whether to run Comet in 'online' or 'offline' mode. Defaults to online
MODEL_NAME=Thesis_detection_06               #Set the name for the saved model. Defaults to yolov5
LOG_CONFUSION_MATRIX=true           # Set to disable logging a Comet Confusion Matrix. Defaults to true
MAX_IMAGE_UPLOADS=50                # Controls how many total image predictions to log to Comet. Defaults to 100.
LOG_PER_CLASS_METRICS=true          # Set to log evaluation metrics for each detected class at the end of training. Defaults to false
LOG_BATCH_LEVEL_METRICS=false       # Set this if you would like to log training metrics at the batch level. Defaults to false.
LOG_PREDICTIONS=true                # Set this to false to disable logging model predictions

